
/* Global styles */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'caveat', cursive;
    font-weight: 400;
}
h1 {
    font-size: 80px;
}
he {
    font-size: 40px;
    margin-top:0;
}
h3 {
    margin:0;
}

/* navigation */
nav {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
}

nav a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #2B2D42;
}

@media (min-width: 440px) {
    nav a {
        margin: 14px;
        font-size: 16px;
    }
}

/* Header only */
header {
    position: relative;
    padding-top: 50px;
    text-align: center;
    background-color: #2B2D42;
    color: #8099AE;
}

header h1, header h2 {
    color: #EDF2F4;
}

h1 {
    margin: 0;
}

.content-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px 50px;
  max-width: 950px;
  overflow: hidden;
}

@media (min-width: 935px){
    .content-wrap {
        flex-direction: row;
    }
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

@media (min-width: 440px) {
    .profile-img {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 935px) {
    .profile-img {
        width: 250px;
        height: 250px;
    }
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: #fff;
    padding: 0 5px 0 5px;
}

@media (min-width: 440px) {
    .btn {
        padding: 10px;
    }
}

.download {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* work */
.work-experience {
    padding-top:0 auto;
    background-color: #EDF2F4;
}

.work-wrapper {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 950px;
}

.job-wrapper {
    display: block;
    padding-bottom: 30px;
}

@media (min-width: 935px) {
    .job-wrapper {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        column-gap: 30px;
    }
}

h3~p {
    margin: 0;
}

@media (min-width: 935px) {
    .job-description p:first-of-type {
        margin-top: 0;
    }
}

ol li {
    margin: 8px 0;
    padding-left: 15px;
}

ol li a {
    color: rgb(14, 14, 247);
}

.bottom {
    padding: 40px 0;
    background: linear-gradient(rgba(141,153,174,0.9),rgba(141,153,174,0.7)), url(.\assets\96eefb235c57bcb649aa3c156a311fdd.jpeg) no-repeat fixed;
    background-size: cover;
}
